extends layout

block content
	h1.page-header About Storybook Road
	p Storybook Road teaches kids grades 1 - 5 how to spell. Our easy-to-use teacher tools make it simple to customize the software to meet your needs.