extends layout

block content
	h1.page-header About Storybook Road
	div.row
		div.col-sm-6
			h3 Our Mission Statement
			p Teach students to read through interactive storytelling using elementary school course material.
		div.col-sm-6
			h3 Meet The Team
			dl.dl-horizontal
				dt Steven Herrmann: 
				dd Gameplay Wizard
				dt Mac Greene: 
				dd Animation Guru
				dt Jameson Reynolds: 
				dd Word Master / Wise Ruler
				dt Jeremy Dormitzer: 
				dd Code Monkey
	img.img-responsive.img-rounded.center-block(src='/images/storybook.jpg', alt='Storybook Road')