extends layout

block content
	h1.title.text-center 
		strong Welcome to Storybook Road!
	img.img-responsive.img-rounded.center-block(src='/images/storybook.jpg', alt='Storybook Road')
	button.btn-lg.btn-primary.center-block(type='button' onclick='window.location.href="./login"') Enter