extends layout

head
	block append scripts
		script(type='text/javascript', src='./javascripts/login.js')

block content
	div.title
		h1.text-center Storybook Road
	div.row#login
		form.col-md-4.col-md-offset-4.text-center.form-primary#login_form
			h2 Login
			input.form-control#email.login_input(type='text', name='email', placeholder='Email Address' required)
			input.form-control#password.login_input(type='password', name='password', placeholder='Password', autocomplete='off' required)
			#warning
			input#login_button.login_input_button(type='submit', name='login', value='Login')
			button#create_account_button.login_input_button(type='button') Create New Account
	div.row
		#account_type.col-md-4.col-md-offset-4.text-center.option-collapsible.type_div
			button.close(type='button', aria-label="Close")
				span(aria-hidden='true') &times;
			h3.text-center Account Type:
			button#student.btn-primary.type_button(type='button') Student
			button#teacher.btn-primary.type_button(type='button') Teacher
