extends layout

head
	block append scripts
		script(type='text/javascript', src='./javascripts/login.js')
		
block content
	#title
		h1 Storybook Road
	#login
		form#login_form
			h2 Login
			input#email.login_input(type='text', name='email', placeholder='Email Address')
			br
			input#password.login_input(type='password', name='password', placeholder='Password', autocomplete='off')
			br
			#warning
			br
			input#login_button.login_input_button(type='submit', name='login', value='Login')
			br
			button#create_account_button.login_input_button(type='button') Create New Account
		#account_type.type_div
			#account_text.type_div
				h3 Account Type:
			#type_buttons.type_div
				button#student.type_button(type='button') Student
				button#teacher.type_button(type='button') Teacher