extends layout

head
	block append scripts
		script(type='text/javascript', src='/javascripts/student-home.js')
		
block content
	div#story_div
		p #{user.fname} #{user.lname}'s Stories:
		ul#story_list
		button#continue_button(type='button' disabled) Continue
		button#new_story(type='button') New Story
	form#new_story_form(action='/student/new-story-request', method='post')
		label(for='themes') Choose a story theme:
		select#themes(name='theme')
		input#new_story_submit(type='submit' value='Start This Story!')
		button#cancel_new_story(type='button') Cancel