extends layout

head
	block append scripts
		script(type='text/javascript', src='/javascripts/student-home.js')
		
block content
	div#story_div
		p #{user.fname} #{user.lname}'s Stories:
		ul#story_list
		button#continue_button(type='button') Continue
		button#new_story(type='button') New Story