extends layout

head
	block append scripts
		script(type='text/javascript', src='/javascripts/teacher-home.js')

block content
	div#new_class_div
		button#new_class(type='button') New Class
		form#new_class_form.option-collapsible(action='teacher/new-class', method='post')
			input(type='text', name='class_name', id='class_name', placeholder='Enter class name' required)
			select(name='difficulty', id='difficulty')
				option(value=1) Level One
				option(value=2) Level Two
				option(value=3) Level Three
				option(value=4) Level Four
				option(value=5) Level Five
			h4 Choose available stories:
			ul#themes_available
			input(type='submit', value='Create Class')
			button#hide_class_form(type='button') Hide
		#warning
	div.row
		div.col-md-4#classes
			div.panel.panel-default
				//- user is a user object from the db
				div.panel-heading
					h1.panel-title #{user.fname} #{user.lname}'s Classes:
				ul#class_list.list-group
		div.col-md-4#class_content
			div.panel.panel-default
				div#class_stats
				ul#student_list.list-group
		div.col-md-4
			#student_info