extends layout

head
  block append scripts
    script.
      var story = !{JSON.stringify(story)}
    script(type="text/javascript", src="/javascripts/puzzles.js")
    script(type="text/javascript", src="/javascripts/game.js")
  block content
    p #{user.fname} #{user.lname}'s Story.

    canvas(id="story_canvas", width=1024, height= 768)
    table(id="canvas_grid")

    div(id="story_parts")
      form(id="puzzle_status")
        div(id="user_answer")
        input(type="submit", name="game_submit", id="story_submit")

      div(id="storytext")
      div(id="errors")
