/* Coolors Exported Palette - coolors.co/f9e11c-7bbf47-dd664c-33b891-3b4d3c */

$mustard: #F1BC1F; //rgba(249, 225, 28, 100)
$green: #7bbf47; //rgba(123, 191, 71, 100)
$red: #dd664c; //rgba(221, 102, 76, 100)
$teal: #33b891; //rgba(51, 184, 145, 100)
$grey: #3b4d3c; //rgba(59, 77, 60, 100)