$main_color: #90FF3C;
$second_color: #7F3CFF;
$third_color: #FF3C65;

@mixin hoverable($col1, $col2) {
	background-color: $col1;
	border-color: $col1;
	&:hover {
		border-color: $col2;
		cursor: pointer;
	}
}

body {
	text-align: center;
	font-family: Century Gothic, sans-serif;
}

#story_div {
	display: flex;
	align-content: center;
	justify-content: center;
}

.story_instance_box {
	@include hoverable($main_color, $second_color);
	margin-top: 20px;
	margin-left: 10px;
	border-style: solid;
	border-radius: 15px;
	width: 200px;
	height: 200px;
}

#template_div {
	margin: auto;
	margin-top: 15px;
	border-style: solid;
	border-radius: 15px;
	width: 15%;
	.story_template_box {
		&:hover {
			border-style: hidden;
			border-width: 1px;
			padding-top: 3px;
			border-color: $third_color;
			border-radius: 7px;
			cursor: pointer;
			background-color: $third_color;
		}
	}
}

button {
	@include hoverable($second_color, $third_color);
	margin-top: 15px;
	height: 40px;
	width: 200px;
	border-style: solid;
	border-radius: 5px;
	font-size: 20px;
	&:focus {
		outline: none;
	}
}