@import "palette";

$story_background: #F1F1D4;
$canvas-width: 1024px;
$canvas-height: 768px ;

$primary-font: Century Gothic, sans-serif;

/* Basic HTML Elements */
html, body{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* IDs */
#header{
  font-family: $primary-font;
}
#header h1{
  text-align: center;
}
#story_canvas{
  height: $canvas-height;
  width: $canvas-width;
  float: left;
}
#canvas_background{
  background-color: $story_background;
  width: 100%;
}
#canvas_grid{
  width: $canvas-width;
  max-height: $canvas-height;
  margin: 0px;
  font-size: 18px;
  float:left;
  position:absolute;
}
#canvas_grid table tr{
  height: $canvas-height/10;
}

#story_parts{
  position: relative;
  clear:both;
}
#user_answer{
  font-family: $primary-font;
}
#errors{
  color: $red;
}

/* Classes */
.center_element{
  width: 50%;
  margin: auto;
  //padding-left: 50px;
}

.grid_square{
  height: $canvas-height/10;
}

.grid_square button{
  font-size: $canvas-height/25;
  color: $red;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
